<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ExpressJS TypeScript starter template</title>
</head>

<body>
    <%- include('include/header') %>
    <h1>Signup Page</h1>
    <%- include('include/footer') %>
</body>

</html>